* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgb(238, 235, 235);
}

.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(238, 235, 235);
  background-position: center;
  background-size: cover;
  padding: 18px 8%;

}

.logo {
  display: flex;
}

.logo-img img {
  width: 70px;
}

.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: xx-large;
  color: rgb(22, 140, 219);
}

.logo-name span {
  font-family: cursive;
  margin-bottom: 8px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list ul li {
  display: inline-block;
  margin: 20px;
  list-style: none;


}

.nav-list ul li a {
  text-decoration: none;
  color:  rgb(22, 140, 219);
  font-size: 17px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  font-style: normal;
  font-weight: 700;


}

.nav-list ul li a:hover {
  color: rgb(9, 10, 10) !important;
  transition: 0.3s;
}

.nav-list ul li a::before {
  content: "\25CB";
  /* Unicode arrow character */
  margin-right: 5px;
}

.class-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 20px;
  border: 0;
  outline: 0;
  background-color: rgb(22, 140, 219);
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.class-btn:active {
  transform: translateY(1px);
  transition: 0.2s;
}

/* hero section  */

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.content_para {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: 700;
  font-size:20px;

}

.content_h1_span {
  color: rgb(22, 140, 219);
  font-family: cursive;

}

.content_h1,
.content_easyFast {
  font-size: 40px;
  line-height: 50px;


  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_message {

  line-height: 20px;
  font-size: 18px;
  
  font-family: Cambria, Cochin, 'Times New Roman';
  font-weight: 500;
}

/* Email container  */

.email-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;


}

.email {
  padding: 15px 15px 16px 18px;
  border: 1px solid  rgb(22, 140, 219);
  outline: none;
  background-color: white;
  border-radius: 6px 0px 0px 6px;
  font-size: medium;
  


}


.btn-submit {
  padding: 13px 25px;
  border: 0;
  background-color:  rgb(22, 140, 219);
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px 6px 6px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}